

/*Colors*/
/*I looked up some design inspirations, and thought this color combo would be nice*/
/* #CBC5C1 CASHMERE */ 
/* #A2AAB0 FRENCH BLUE */
/* #EBECED WHITE WASH */
/* #4C586F DENIM */
/* #3E3E3B GUNMETAL */


body {
  background-color: #CBC5C1;
}
/*Landing Page CSS*/
#backgroundVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
}
.content {
	position: fixed;
	bottom: 19%;
	margin: 0 5%;
	padding: 0;
	color: #f1f1f1;
	width: 90%;
}
.jumbotron {
  background-color: #4C586F;
  border-radius: 25px;
}
.fun-button {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #f1f1f1;
  border-radius: 0.6em;
  color: #f1f1f1;
  cursor: pointer;
  display: block;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 2% auto;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
}
.fun-button:hover, .fun-button:focus {
  color: #f1f1f1;
  outline: 0;
}
.landing-button {
  border-color: #f1f1f1;
  color: #f1f1f1;
  background-image: linear-gradient(45deg, #A2AAB0 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}
.landing-button:hover {
  background-position: 0;
}

.landing-inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
}
input {
    -webkit-appearance: none;
    width: 50%;
    border: 0;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid white;
    background: none;
    border-radius: 0;
    color: white;
}
input:hover {
      background: rgba(#223254,.03);
}
input:focus {
      background: none;
      outline: none;
}
/*End Landing Page CSS*/

/*login / sign up page css*/
/* #CBC5C1 CASHMERE */ 
/* #A2AAB0 FRENCH BLUE */
/* #EBECED WHITE WASH */
/* #4C586F DENIM */
/* #3E3E3B GUNMETAL */
#login-body {
  background-color: #A2AAB0;
}

.form-container {
  background-color: black;
  border-radius: 15px;
  margin: 8% auto;
  height: 550px;
  width: 350px;
  position: relative;
  overflow: hidden;
}
.form-container:after {
  content: "";
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 500px;
  background-color: #4C586F;
}
.form-title {
  color: #4C586F;
  font-size: 1.7em;
  text-align: center;
}
  
.form-title span {
  color: #4C586F;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
}

.input {
  border: 0;
  outline: none;
  box-shadow: none;
  color: #4C586F;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 8px 15px;
  border-bottom: 1px solid #eee;
  width: 100%;
  font-size: 12px;
}

.input:last-child {
  border-bottom: 0;
}

.submit-btn {
  border: 0;
  border-radius: 15px;
  display: block;
  margin: 15px auto;
  padding: 15px 45px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}

.submit-btn:hover {
  transition: all 0.3s ease;
  background-color: #4C586F;
}

.login {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 5;
  -webkit-transition: all 0.3s ease;
  }

.login::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -20px;
  -webkit-transform: translate(-50%, 0);
  background-color: #fff;
  width: 200%;
  height: 250px;
  border-radius: 50%;
  z-index: 4;
  -webkit-transition: all 0.3s ease;
}

.center {
  position: absolute;
  top: calc(50% - 10%);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  width: 65%;
  z-index: 5;
  -webkit-transition: all 0.3s ease;
}

.form-title {
  color: #4C586F;
  font-size: 1.7em;
  text-align: center;
}

.form-title span {
  color: #4C586F;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
}

.form-holder {
  border-radius: 15px;
  background-color: #fff;
  border: 1px solid #eee;
  overflow: hidden;
  margin-top: 50px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}

.form-holder .input {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 8px 15px;
  border-bottom: 1px solid #eee;
  width: 100%;
  font-size: 12px;
  color: #4C586F;
}

.form-holder .input:last-child {
  border-bottom: 0;
}

.form-holder .input::-webkit-input-placeholder {
  color: #4C586F;
}

.submit-btn {
  background-color: #4C586F;
  color: rgba(256, 256, 256, 0.7);
  border: 0;
  border-radius: 15px;
  display: block;
  margin: 15px auto;
  padding: 15px 45px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}
.submit-btn:hover {
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.8);
}
.user-id {
  color: #4C586F;
}
/*End login / signup page CSS*/

/*User Profile Page*/
/* #CBC5C1 CASHMERE */ 
/* #A2AAB0 FRENCH BLUE */
/* #EBECED WHITE WASH */
/* #4C586F DENIM */
/* #3E3E3B GUNMETAL */
#user-profile-body {
  background-color: #A2AAB0;
  color: #3E3E3B;
}
#user-profile-nav {
  background-color: #4C586F;
}
#user-profile-nav a {
  color: #EBECED;
}
#delete-event-button {
  height: 50px;
}
#delete-event-button button {
  height: 30px;
  line-height: 15px;
}
.event-row {
  background-color: #4C586F;
  color: #EBECED;
  padding: 20px;
  border-radius: 20px;
}

/*End User Profile Page*/

/*Loader CSS*/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #6b92a4;
  animation-timing-function: cubic-bezier(.47, 2.06, -0.73);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
/*End Loader CSS*/